.imageCompressor {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  margin-top: 50px;
}

.imageCompressor__upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin: 10px;
}

.imageCompressor__upload > input {
  display: flex;
  margin-top: 40px;
  padding: 20px;
}

.imageCompressor__circularSlider {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;
}

.imageCompressor__chooseFile {
  text-decoration: none;
}

.imageCompressor__container {
  border: 1px solid white;
  width: 300px;
  height: 300px;
}

.imageCompressor__image {
  max-width: 300px;
  max-height: 300px;
}

.compressed_imageSize {
  color: white;
}

.imageCompressor__sizeInfo {
  margin-top: 10px;
  padding: 20px;
  color: white;
}

.compressed__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.compressed__image > a {
  text-decoration: none;
}

@media (max-width: 850px) {
  .imageCompressor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .imageCompressor__circularSlider {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .imageCompressor__circularSlider > button {
    margin-top: 20px;
  }

  .compressed__image > p {
    margin: 20px;
  }
}
